.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 280px;
  flex-shrink: 0;
  transition: width 0.3s;
  overflow: hidden;
  background-color: #f0f0f0;
}

.sidebar.closed {
  width: 0;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #d8c9f349;
}

.appbarTitle {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.middleItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 220vh;
}

.textContainer {
  display: flex;
  width: 100%;
  gap: 10px;
}

.text1,
.text2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textHead {
  padding: 15px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 7px 1px #80808080;
  cursor: pointer;
}

.textHead:hover {
  transform: scaleY(0.9);
  background-color: rgba(245, 245, 220, 0.37);
}

.messageBar {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  width: 100%;
}
